.people {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.people_top {
  display: flex;
}

.avatar_top {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.people_button {
  border: 1px solid !important;
  width: 110px;
  height: 30px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-color: gray !important;
  color: gray !important;
  cursor: pointer;
  margin-left: 55px !important;
}

.people_button:hover {
  background-color: rgb(199, 184, 184) !important;
  color: white !important;
}
